<div class="d-flex justify-content-center">
    <div class="card rounded text-center shadow bg-dark my-3">
        <h3 class="card-header">ship.name</h3>
        <p class="pt-2">Model: </p>
        <p> Class: </p>
        <img src="../../../assets/not-available.png" alt="card image" class="card-img-top">
        <div class="card-body">
            <p class="text-muted">Cargo Capacity: </p>
            <p class="text-muted">Length:</p>
            <p class="text-muted">Speed: </p>
            <p class="text-muted">Crew: </p>
            <p class="text-muted">Total Passengers: </p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-around align-items-center">
            <a [routerLink]="['/ships/edit/' + 1]" class="btn btn-outline-info rounded">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="btn btn-outline-danger rounded">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>