nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
}

nav img {
    width: 7rem;
}

nav ul li a:hover {
    color: yellow;
    transition: 0.5s;
}

nav ul li:last-child a i {
    color: rgba(109, 0, 0, 0.747);
}

nav ul li:last-child a i:hover {
    color: red;
    transition: 0.5s;
}

.container a img:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.active {
    color: yellow;
}