h1 {
    font-weight: 900;
}

.custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    padding: 2rem 3rem;
    margin: auto;
    background-color: rgba(29, 29, 29, 0.678);
    color: yellow;
    margin-top: 1.7rem;
  }